.nav {
    flex: 0 0 50%;

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }

    &__link:link,
    &__link:visited {
        color: $color-primary;
        text-decoration: none;
        display: block;
        padding: 1.5rem;
        font-size: 1.6rem;

    }
}